@media (--breakpoint-xs) {
  .xs-m0  { margin:        0 }
  .xs-mt0 { margin-top:    0 }
  .xs-mr0 { margin-right:  0 }
  .xs-mb0 { margin-bottom: 0 }
  .xs-ml0 { margin-left:   0 }
  .xs-mx0 { margin-left:   0; margin-right:  0 }
  .xs-my0 { margin-top:    0; margin-bottom: 0 }

  .xs-m1  { margin:        var(--space-1) }
  .xs-mt1 { margin-top:    var(--space-1) }
  .xs-mr1 { margin-right:  var(--space-1) }
  .xs-mb1 { margin-bottom: var(--space-1) }
  .xs-ml1 { margin-left:   var(--space-1) }
  .xs-mx1 { margin-left:   var(--space-1); margin-right:  var(--space-1) }
  .xs-my1 { margin-top:    var(--space-1); margin-bottom: var(--space-1) }

  .xs-m2  { margin:        var(--space-2) }
  .xs-mt2 { margin-top:    var(--space-2) }
  .xs-mr2 { margin-right:  var(--space-2) }
  .xs-mb2 { margin-bottom: var(--space-2) }
  .xs-ml2 { margin-left:   var(--space-2) }
  .xs-mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
  .xs-my2 { margin-top:    var(--space-2); margin-bottom: var(--space-2) }

  .xs-m3  { margin:        var(--space-3) }
  .xs-mt3 { margin-top:    var(--space-3) }
  .xs-mr3 { margin-right:  var(--space-3) }
  .xs-mb3 { margin-bottom: var(--space-3) }
  .xs-ml3 { margin-left:   var(--space-3) }
  .xs-mx3 { margin-left:   var(--space-3); margin-right:  var(--space-3) }
  .xs-my3 { margin-top:    var(--space-3); margin-bottom: var(--space-3) }

  .xs-m4  { margin:        var(--space-4) }
  .xs-mt4 { margin-top:    var(--space-4) }
  .xs-mr4 { margin-right:  var(--space-4) }
  .xs-mb4 { margin-bottom: var(--space-4) }
  .xs-ml4 { margin-left:   var(--space-4) }
  .xs-mx4 { margin-left:   var(--space-4); margin-right:  var(--space-4) }
  .xs-my4 { margin-top:    var(--space-4); margin-bottom: var(--space-4) }

  .xs-m5  { margin:        var(--space-5) }
  .xs-mt5 { margin-top:    var(--space-5) }
  .xs-mr5 { margin-right:  var(--space-5) }
  .xs-mb5 { margin-bottom: var(--space-5) }
  .xs-ml5 { margin-left:   var(--space-5) }
  .xs-mx5 { margin-left:   var(--space-5); margin-right:  var(--space-5) }
  .xs-my5 { margin-top:    var(--space-5); margin-bottom: var(--space-5) }

  .xs-m6  { margin:        var(--space-6) }
  .xs-mt6 { margin-top:    var(--space-6) }
  .xs-mr6 { margin-right:  var(--space-6) }
  .xs-mb6 { margin-bottom: var(--space-6) }
  .xs-ml6 { margin-left:   var(--space-6) }
  .xs-mx6 { margin-left:   var(--space-6); margin-right:  var(--space-6) }
  .xs-my6 { margin-top:    var(--space-6); margin-bottom: var(--space-6) }

  .xs-mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
  .xs-mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
  .xs-mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
  .xs-mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
  .xs-mxn5 { margin-left: -var(--space-5); margin-right: -var(--space-5); }
  .xs-mxn6 { margin-left: -var(--space-6); margin-right: -var(--space-6); }

  .xs-ml-auto { margin-left:  auto }
  .xs-mr-auto { margin-right: auto }
  .xs-mx-auto { margin-left: auto; margin-right: auto; }
}
