/*
@styleguide

@title Background images

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

`<div class="p4 bg-cover bg-center bg-no-repeat" style="background-image: url(https://envoy.com/images/home/homepage.jpg); min-height: 50vh;"></div>`

<div class="p4 bg-cover bg-center bg-no-repeat" style="background-image: url(https://envoy.com/images/home/homepage.jpg); min-height: 50vh;"></div>

*/

.bg-cover   { background-size: cover }
.bg-contain { background-size: contain }

.bg-center  { background-position: center }
.bg-top     { background-position: top }
.bg-right   { background-position: right }
.bg-bottom  { background-position: bottom }
.bg-left    { background-position: left }

.bg-no-repeat { background-repeat: no-repeat }
.bg-repeat-x { background-repeat: repeat-x }
.bg-repeat-y { background-repeat: repeat-y }

.bg-coal-texture {
  background-image: url('https://envoy.com/images/backgrounds/coal-texture.png');
  background-size: 100px;
}
