/*
@styleguide

@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

`<button class="btn btn-primary">Primary button</button>`

<button class="btn btn-primary">Primary button</button>

*/

.btn {
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-size: var(--small);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  line-height: 1.2;
  padding: .75rem 1.5rem;
  height: auto;
  min-width: 118px;
  border: 1px solid transparent;
  vertical-align: middle;
  color: inherit;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.btn-primary {
  color: var(--white);
  background-color: var(--red);
  border-radius: var(--border-radius);
  box-shadow: 0 0 20px 0 var(--button-glow-color);
}

.btn-primary:hover {
  color: var(--white);
  box-shadow: 0 0 20px 0 var(--button-glow-color),
  inset 0 0 0 20rem var(--darken-1);
}

.btn-primary:active {
  color: var(--white);
  box-shadow: 0 0 20px 0 var(--button-glow-color),
  inset 0 0 0 20rem var(--darken-2),
  inset 0 3px 4px 0 var(--darken-3),
  0 0 1px var(--darken-2);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-white { background: white; }
.btn-hover-red-text { text: #ef3934; }

.btn-min-width {
  min-width: var(--space-7);
}
