/*
@styleguide

@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

`<button class="btn btn-primary">Primary button</button>`

<button class="btn btn-primary">Primary button</button>

*/

.btn {
  background-color: transparent;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: var(--h5);
  font-weight: var(--bold-font-weight);
  cursor: pointer;
  line-height: 2.5rem;
  height: 2.75rem;
  padding: 1px 1.5rem 0;
  height: auto;
  min-width: 92px;
  border: 1px solid transparent;
  vertical-align: middle;
  text-align: center;
  transition: all .2s ease-in-out;
}

.btn-primary {
  color: var(--white);
  background-color: var(--red);
  border-radius: var(--small-border-radius);
  box-shadow: 0 0 20px 0 var(--button-glow-color);
}

.btn-primary:hover {
  color: var(--white);
  box-shadow: 0 0 20px 0 var(--button-glow-color),
  inset 0 0 0 20rem var(--darken-1);
}

.btn-primary:active {
  color: var(--white);
  box-shadow: 0 0 20px 0 var(--button-glow-color),
  inset 0 0 0 20rem var(--darken-2),
  inset 0 3px 4px 0 var(--darken-3),
  0 0 1px var(--darken-2);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-white { background: white; }
.btn-hover-red-text { text: #ef3934; }

.btn-min-width {
  min-width: 92px;
}

.btn-simple {
  border: unset;
  background-color: inherit;
  border-radius: 4px;
  box-shadow: unset;
  color: var(--white);
  cursor: default;
  letter-spacing: unset;
  line-height: unset;
  min-height: unset;
  min-width: unset;
  padding: 0;
  text-transform: unset;
}

.has-arrow::after {
  content: url(https://envoy.com/images/icons/arrows/sm/white-arrow.svg);
  margin-left: 0.5rem;
  position: relative;
  right: 0;
  top: -1px;
  transition: all .2s ease-in-out;
  vertical-align: middle;
}

.red.has-arrow::after,
.slate.has-arrow:hover:after  {
  content: url(https://envoy.com/images/icons/arrows/sm/red-arrow.svg);
}

.red.has-arrow:hover:after {
  content: url(https://envoy.com/images/icons/arrows/sm/darkred-arrow.svg);
}

.slate.has-arrow::after {
  content: url(https://envoy.com/images/icons/arrows/sm/slate-arrow.svg);
}

.has-arrow:hover::after {
  right: -3px;
}
