/* Basscss Btn Sizes */

.btn-small {
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
}

.btn-big {
  padding: var(--button-big-padding-y) var(--button-big-padding-x);
}

.btn-narrow {
  padding-left: var(--button-narrow-padding-x);
  padding-right: var(--button-narrow-padding-x);
}
