/*
@styleguide

@title Circle icon

<div class="circle-icon circle-icon-quote inline-block mr4"></div>

<div class="circle-icon circle-icon-lock inline-block"></div>

*/

.circle-icon {
  background-color: var(--red);
  box-shadow: 0 0 20px 0 var(--button-glow-color);
  background-repeat: no-repeat;
  background-position: center;
}

@media (--breakpoint-xs) {
  .circle-icon {
    height: 54px;
    width: 54px;
    border-radius: 27px;
  }

  .circle-icon-quote {
    background-image: url(https://envoy.com/images/icons/quote-white-mobile.svg);
  }

  .circle-icon-lock {
    background-image: url(https://envoy.com/images/icons/lock-white-mobile.svg);
  }

  .circle-icon-iphone {
    background-image: url(https://envoy.com/images/icons/iphone-white-mobile.svg);
  }
}

@media (--breakpoint-sm) {
  .circle-icon {
    height: 54px;
    width: 54px;
    border-radius: 27px;
  }

  .circle-icon-quote {
    background-image: url(https://envoy.com/images/icons/quote-white-mobile.svg);
  }

  .circle-icon-lock {
    background-image: url(https://envoy.com/images/icons/lock-white-mobile.svg);
  }

  .circle-icon-iphone {
    background-image: url(https://envoy.com/images/icons/iphone-white-mobile.svg);
  }
}

@media (--breakpoint-md) {
  .circle-icon {
    height: 68px;
    width: 68px;
    border-radius: 34px;
  }

  .circle-icon-quote {
    background-image: url(https://envoy.com/images/icons/quote-white.svg);
  }

  .circle-icon-lock {
    background-image: url(https://envoy.com/images/icons/lock-white.svg);
  }

  .circle-icon-iphone {
    background-image: url(https://envoy.com/images/icons/iphone-white.svg);
  }
}

@media (--breakpoint-lg) {
  .circle-icon {
    height: 68px;
    width: 68px;
    border-radius: 34px;
  }

  .circle-icon-quote {
    background-image: url(https://envoy.com/images/icons/quote-white.svg);
  }

  .circle-icon-lock {
    background-image: url(https://envoy.com/images/icons/lock-white.svg);
  }

  .circle-icon-iphone {
    background-image: url(https://envoy.com/images/icons/iphone-white.svg);
  }
}
