/* Envoy.css colors */

/* @start color */
:root {
  red: var(--red);
  slate: var(--slate);
  gray: var(--gray);
  blue: var(--blue);
  green: var(--green);
  yellow: var(--yellow);
}
/* @end color */


.red     { color: var(--red) }
.slate  { color: var(--slate) }
.blue  { color: var(--blue) }
.green { color: var(--green) }
.yellow  { color: var(--yellow) }
.gray   { color: var(--gray) }
.white  { color: var(--white) }
.black  { color: var(--black) }

.light-gray { color: var(--light-gray) }

.color-inherit { color: inherit }
.muted { opacity: .85 }

/* One-off variants */
.bg-white-97 { background-color: rgba(255,255,255,.97); }
.muted-slate { color: var(--muted_slate) }
