.content .pull-left {
  float: left;
  padding: 1.5rem 3rem 1.5rem 0;
  margin: 0;
}

.content  .pull-right {
  float: right;
  padding: 1.5rem 0 1.5rem 3rem;
  margin: 0;
}

.content blockquote {
  margin-top: 48px;
  margin-bottom: 48px;
  border-left: 2px solid #f4352b;
  padding-left: 40px;
  font-style: italic;
}

.content li {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.content blockquote p:last-child {
  margin: 0;
}

.content  blockquote.cite  p:last-child {
  font-size: 14px;
  font-style: normal;
  color: rgba(40,44,54,0.5);
  margin-bottom: 48px;
}

.content  blockquote.cite p:first-child:first-letter {
  margin-left: -0.5rem;
  font-kerning: none;
}

.content  blockquote.cite  p:last-child:first-letter {
  margin-left: -1rem;
  font-kerning: none;
}

.content h2 {
  color: #282c36;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content h3, .content h4, .content h5, .content h6 {
  color: #282c36;
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content img {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #E9E9EA;
  border-bottom: none;
}

.content .cta {
  border-top: 1px solid #E9E9EA;
  margin-top: 48px;
  padding-top: 1rem;
  font-style: italic;
  color: rgba(40,44,54,0.5);
}

.content ol {
  counter-reset: list;
  list-style-type: none;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0;
  box-sizing: border-box;
}

.content li {
  list-style-position: outside;
}

.content ol li {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.content ol > li:before {
  font-size: 0.75rem;
  background-color: var(--red);
  height: 1rem;
  width: 1rem;
  margin-left: -2rem;
  margin-top: 0.25rem;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  content: counter(list,decimal);
  counter-increment: list;
  float: left;
}

.content li > ol, .content li > ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.content code, .content pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.875rem;
}
.content code {
  padding: 0 2rem 1rem;
  border-radius: .25rem;
}
.content pre {
  overflow-x: scroll;
  margin: 1rem 0 2rem;
}

