.featureTable .featureTableHeader th {
  border: 1px solid var(--border-color);
  border-left: none;
  text-align: center;
  padding: var(--space-2);
  font-weight: var(--bold-font-weight);
}

.featureTable .featureTableHeader th:first-child {
  border-top: none;
}

.featureTable .featureTableHeader th:nth-child(4) {
  background-color: var(--red);
  color: var(--white);
  border: none;
}

td.featureDescription {
  width: auto;
  text-align: left;
  background-color: var(--white);
  padding: 0 var(--space-1);
}

.featureTable td {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.featureTable .featureTableSeperator th {
  background-color: var(--gray);
  padding: var(--space-1) var(--space-2);
}

.tr-spacer > td {
  padding-bottom: var(--space-5);
}

.featureTable td {
  text-align: center;
}

.featureTable .featureDescription {
  text-align: left;
}

.featureTable .featureTableSeperator th {
  padding: var(--space-1);
}

.featureTable .featureTableSeperator th.bg-red {
  background-color: var(--red);
}

