/*
@styleguide

@title Feature table

<table class="xs-hide sm-hide table-light col-12 mt5" cellpadding="16" style="border-collapse: collapse;">
<thead class="bg-gray p2 border rounded">
<tr>
<th width="28%" class="left-align slate strong">Visitor management</th>
<th width="18%" class="regular slate">Basic</th>
<th width="18%" class="regular slate">Standard</th>
<th width="18%" class="regular slate">Premium</th>
<th width="18%" class="regular slate">Enterprise</th>
</tr>
</thead>
<tbody>
<tr class="tr-spacer ">
<td class="left-align">
<div class="flex flex-center">
<div class="flex-none">
<p class="m0">Sign in unlimited visitors</p>
</div>
<div class="flex-auto ml2">
<div class="wrapper">
<span>?</span>
<div class="tooltip z4">Welcome one or hundreds of visitors per day.</div>
</div>
</div>
</div></td>
<td class="center">
<img src="https://envoy.com/images/icons/pricing-check.svg">
</td>
<td class="center">
<img src="https://envoy.com/images/icons/pricing-check.svg">
</td>
<td class="center">
<img src="https://envoy.com/images/icons/pricing-check.svg">
</td>
<td class="center">
<img src="https://envoy.com/images/icons/pricing-check.svg">
</td>
</tr>

</tbody>
</table>

*/
.featureTable .featureTableHeader th {
  border: 1px solid var(--border-color);
  border-left: none;
  text-align: center;
  padding: var(--space-2);
  font-weight: var(--bold-font-weight);
}

.featureTable .featureTableHeader th:first-child {
  border-top: none;
}

.featureTable .featureTableHeader th:nth-child(4) {
  background-color: var(--red);
  color: var(--white);
  border: none;
}

td.featureDescription {
  width: auto;
  text-align: left;
  background-color: var(--white);
  padding: 0 var(--space-1);
}

.featureTable td {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.featureTable .featureTableSeperator th {
  background-color: var(--gray);
  padding: var(--space-1) var(--space-2);
}

.tr-spacer > td {
  padding-bottom: var(--space-5);
}

.tr-spacer td {
  position: relative;
}

.tr-spacer td:after {
  bottom: -6px;
  background-color: white;
  border-top: 1px solid #E9E9EA;
  content: '';
  display: inline-block;
  height: var(--space-5);
  left: 0;
  position: absolute;
  width: 102%;
}

.featureTable td {
  text-align: center;
}

.featureTable .featureDescription {
  text-align: left;
}

.featureTable .featureTableSeperator th {
  padding: var(--space-1);
}

.featureTable .featureTableSeperator th.bg-red {
  background-color: var(--red);
}
