/* Basscss Forms */

.label {
  font-size: var(--h5);
  display: block;
  margin-bottom: var(--space-0);
}

.input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: var(--h2);
  padding: var(--space-1);
  margin-bottom: var(--space-4);
  border: 1px solid var(--slate);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: var(--h2);
  padding: var(--space-1);
  margin-bottom: var(--space-4);
  border: 1px solid var(--slate);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: var(--space-1);
  margin-bottom: var(--space-4);
  border: 1px solid var(--slate);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
