/*  Envoy Prose  */

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: #625F65;
  margin-top: 2rem;
  margin-bottom: 1em;
}

.prose ul {
  padding-left: 1rem;
}

.prose p, .prose li {
  color: #5D5D5D;
}

.prose hr {
  border-color: #E2E2E2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.prose ol {
  counter-reset: list;
  list-style-type: none;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.prose li {
  list-style-position: outside;
}

.prose ol li {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.prose ol > li:before {
  font-size: 0.75rem;
  background-color: #468EE5;
  height: 1rem;
  width: 1rem;
  margin-left: -2rem;
  margin-top: 0.25rem;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  content: counter(list,decimal);
  counter-increment: list;
  float: left;
}

.prose img {
  border: 2px solid #EEE;
  background: #EEE;
  margin: 2rem 0;
  display: block;
  width: auto;
  box-sizing: border-box;
}

.prose code, .prose pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: inherit;
}
.prose code {
  color: #14457f;
  background-color: rgba(74, 144, 226, 0.1);
  padding: 1px 4px;
  border-radius: 0.25rem;
}
.prose pre {
  display: block;
  padding: 1rem;
  overflow-x: scroll;
  border-radius: .25rem;
  border: 2px solid #dddddd;
  margin: 1em 0 2em;
  font-size: .85em;
  background-color: #333333;
  color: white;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.prose li > ol, .prose li > ul {
  margin-bottom: 0;
}
