.tip {
  background-image: url(/images/icons/tip-flag.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: left center;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.4;
  min-height: 4rem;
}

.tip:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3rem;
  width: 2px;
  background-color: var(--red);
}

.tip p:last-child {
  margin: 0;
}
