.tip {
  background-image: url(https://envoy.com/images/icons/tip-flag.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: left center;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  line-height: 1.4;
  min-height: 3rem;
  font-style: italic;
  color: var(--muted_slate);
}

.tip:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 46px;
  width: 2px;
  border-radius: 2px;
  background-color: var(--red);
}

.tip p:last-child {
  margin: 0;
}
