/* Basscss Responsive Padding */

@import "./responsive-padding/sm-padding";
@import "./responsive-padding/md-padding";
@import "./responsive-padding/lg-padding";

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}

