/*
@styleguide

@title Step number

<div class="flex flex-center mb4">
<span class="js-configurator-header-number step-number flex-none mr1">1</span>
<div class="flex-auto">
<h3 class="h4 slate m0">Choose an iPad</h3>
</div>
</div>

    <div class="flex flex-center mb4">
    <span class="js-configurator-header-number step-number flex-none mr1">1</span>
    <div class="flex-auto">
    <h3 class="h4 slate m0">Choose an iPad</h3>
    </div>
    </div>
*/

.step-number {
  font-weight: 700;
  font-variant-numeric: lining-nums;
  height: 1.25rem;
  width: 1.25rem;
  color: #fff;
  background: #ef3934;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: .75rem;
  line-height: 1.666666667;
}

