.step-number {
  font-weight: 700;
  font-variant-numeric: lining-nums;
  height: 1.25rem;
  width: 1.25rem;
  color: #fff;
  background: #ef3934;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: .75rem;
  line-height: 1.666666667;
}

