/*
@styleguide

@title Tooltip

<div class="clearfix">
<div class="col col-12 lg-col-4 flex px2 mt4 mb5">
<div class="col-12 bg-white shadow rounded center py4 px2 flex flex-column">
<h3 class="mt0 mb3 caps muted slate h4">Standard</h3>
<h2 class="mt0 mb4 slate line-height-1">
<span class="monies">$</span>
<span class="price js-toggle-hide js-monthly fade-out">119</span>
<span class="price js-toggle-hide js-annual fade-in">99</span>
</h2>
<div class="flex-none">
<p class="line-height-1 mb1 slate inline-block">
monthly, per location
</p>
<div class="wrapper flex-none xs-hide sm-hide z4">
<span>?</span>
<div class="tooltip z4">
<p class="white m0 line-height-2 z4">
For most customers, a “location” is defined as a physical office. But you can also set up an Envoy location for each door or at multiple buildings within one central campus.
</p>
</div>
</div>
</div>
<p class="line-height-1 mb4 slate muted js-toggle-opacity transition-opacity">billed annually</p>
<div class="flex-auto"></div>
<p class="mb2 mx2"><a href="/trial/standard/" class="btn hover-white bg-red white rounded col-12 center">Start trial</a></p>
<p class="line-height-1 mb0 slate">or <a href="/purchase/standard/">purchase now</a></p>
</div>
</div>
</div>

    <div class="col col-12 lg-col-4 flex px2 mt4 mb5">
    <div class="col-12 bg-white shadow rounded center py4 px2 flex flex-column">
    <h3 class="mt0 mb3 caps muted slate h4">Standard</h3>
    <h2 class="mt0 mb4 slate line-height-1">
    <span class="monies">$</span>
    <span class="price js-toggle-hide js-monthly fade-out">119</span>
    <span class="price js-toggle-hide js-annual fade-in">99</span>
    </h2>
    <div class="flex-none">
    <p class="line-height-1 mb1 slate inline-block">
    monthly, per location
    </p>
    <div class="wrapper flex-none xs-hide sm-hide z4">
    <span>?</span>
    <div class="tooltip z4">
    <p class="white m0 line-height-2 z4">
    For most customers, a “location” is defined as a physical office. But you can also set up an Envoy location for each door or at multiple buildings within one central campus.
    </p>
    </div>
    </div>
    </div>
    <p class="line-height-1 mb4 slate muted js-toggle-opacity transition-opacity">billed annually</p>
    <div class="flex-auto"></div>
    <p class="mb2 mx2"><a href="/trial/standard/" class="btn hover-white bg-red white rounded col-12 center">Start trial</a></p>
    <p class="line-height-1 mb0 slate">or <a href="/purchase/standard/">purchase now</a></p>
    </div>
    </div>

*/

.wrapper {
  color: rgba(40,44,54,0.4);
  display: inline-block;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 12px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  cursor: help;
  position: relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
}

.wrapper .tooltip {
  background: rgba(40,44,54,0.93);
  bottom: 100%;
  color: #fff;
  text-align: left;
  font-size: 0.875rem;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 12.5rem;
  transform: translateY(10px);
  transition: all .25s ease-out;
  border-radius: 2px;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid rgba(40,44,54,0.93) 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 20%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.wrapper:hover {
  color: #EF3934;
}

.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
