@media (--breakpoint-xs) {
  .xs-p0  { padding:        0 }
  .xs-pt0 { padding-top:    0 }
  .xs-pr0 { padding-right:  0 }
  .xs-pb0 { padding-bottom: 0 }
  .xs-pl0 { padding-left:   0 }
  .xs-px0 { padding-left:   0; padding-right:  0 }
  .xs-py0 { padding-top:    0; padding-bottom: 0 }

  .xs-p1  { padding:        var(--space-1) }
  .xs-pt1 { padding-top:    var(--space-1) }
  .xs-pr1 { padding-right:  var(--space-1) }
  .xs-pb1 { padding-bottom: var(--space-1) }
  .xs-pl1 { padding-left:   var(--space-1) }
  .xs-px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }
  .xs-py1 { padding-top:    var(--space-1); padding-bottom: var(--space-1) }

  .xs-p2  { padding:        var(--space-2) }
  .xs-pt2 { padding-top:    var(--space-2) }
  .xs-pr2 { padding-right:  var(--space-2) }
  .xs-pb2 { padding-bottom: var(--space-2) }
  .xs-pl2 { padding-left:   var(--space-2) }
  .xs-px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }
  .xs-py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }

  .xs-p3  { padding:        var(--space-3) }
  .xs-pt3 { padding-top:    var(--space-3) }
  .xs-pr3 { padding-right:  var(--space-3) }
  .xs-pb3 { padding-bottom: var(--space-3) }
  .xs-pl3 { padding-left:   var(--space-3) }
  .xs-px3 { padding-left:   var(--space-3); padding-right:  var(--space-3) }
  .xs-py3 { padding-top:    var(--space-3); padding-bottom: var(--space-3) }

  .xs-p4  { padding:        var(--space-4) }
  .xs-pt4 { padding-top:    var(--space-4) }
  .xs-pr4 { padding-right:  var(--space-4) }
  .xs-pb4 { padding-bottom: var(--space-4) }
  .xs-pl4 { padding-left:   var(--space-4) }
  .xs-px4 { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  .xs-py4 { padding-top:    var(--space-4); padding-bottom: var(--space-4) }

  .xs-p5  { padding:        var(--space-5) }
  .xs-pt5 { padding-top:    var(--space-5) }
  .xs-pr5 { padding-right:  var(--space-5) }
  .xs-pb5 { padding-bottom: var(--space-5) }
  .xs-pl5 { padding-left:   var(--space-5) }
  .xs-px5 { padding-left:   var(--space-5); padding-right:  var(--space-5) }
  .xs-py5 { padding-top:    var(--space-5); padding-bottom: var(--space-5) }

  .xs-p6  { padding:        var(--space-6) }
  .xs-pt6 { padding-top:    var(--space-6) }
  .xs-pr6 { padding-right:  var(--space-6) }
  .xs-pb6 { padding-bottom: var(--space-6) }
  .xs-pl6 { padding-left:   var(--space-6) }
  .xs-px6 { padding-left:   var(--space-6); padding-right:  var(--space-6) }
  .xs-py6 { padding-top:    var(--space-6); padding-bottom: var(--space-6) }
}
