/* Envoy.css Reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--granite);
}

a {
  color: var(--red);
  text-decoration: none;
}

a:hover {
  color: var(--darkred);
}

a.slate:hover {
  color: var(--red);
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%
}

blockquote {
  margin: 0;
}

cite {
  font-style: normal;
}

ol,
ul {
  margin-left: -1.5rem;
}
