/* Envoy.css Typography */

@import url("https://hello.myfonts.net/count/316471");

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_1_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_1_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_1_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_1_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_1_0.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_5_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_5_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_5_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_5_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_5_0.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_7_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_7_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_7_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_7_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_7_0.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_6_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_6_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_6_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_6_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_6_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_8_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_8_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_8_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_8_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_8_0.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_9_0.eot');
  src: url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_9_0.eot?#iefix') format('embedded-opentype'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_9_0.woff2') format('woff2'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_9_0.woff') format('woff'),url('https://envoy-fonts.s3.amazonaws.com/cera-pro/316471_9_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body, p, li, input, textarea, .regular {
  font-family: 'Cera Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, .bold {
  font-family: 'Cera Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0;
}

.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }

.bold    { font-weight: var(--bold-font-weight, bold) }
.medium  { font-weight: var(--medium-font-weight, normal) }
.regular { font-weight: normal }
.light   { font-weight: var(--light-font-weight, lighter) }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: 0.125rem; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.line-height-1 { line-height: var(--line-height-1) }
.line-height-2 { line-height: var(--line-height-2) }
.line-height-3 { line-height: var(--line-height-3) }
.line-height-4 { line-height: var(--line-height-4) }

.list-style-none { list-style: none }
.underline { text-decoration: underline }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hanging-quote:first-letter {
  margin-left: -var(--space-1);
  font-kerning: none;
}

.hanging-emdash:first-letter {
  margin-left: -var(--space-2);
  font-kerning: none;
}

.letter-rule:before,
.letters-rule:before {
  background-color: var(--red);
  border-radius: var(--space-0);
  content: '';
  display: block;
  height: var(--space-0);
  width: var(--space-4);
  margin-bottom: var(--space-2);
}

.dark.letters-rule:before,
.dark .letter-rule:before{
  background-color: var(--slate);
}

.nowrap {
  white-space: nowrap;
}

.letter-spacing-wide {
  letter-spacing: var(--letter-spacing-wide);
}

.mobile-letter-spacing-wide {
  letter-spacing: var(--mobile-letter-spacing-wide);
}
