/*
@styleguide

@title Type scale

<p class="h1">Milo and Max 1</p>
<p class="h2">Milo and Max 2</p>
<p class="h3">Milo and Max 3</p>
<p class="h4">Milo and Max 4</p>
<p class="h5">Milo and Max 5</p>
<p class="h6">Milo and Max 6</p>

    <p class="h1">Milo and Max 1</p>
    <p class="h2">Milo and Max 2</p>
    <p class="h3">Milo and Max 3</p>
    <p class="h4">Milo and Max 4</p>
    <p class="h5">Milo and Max 5</p>
    <p class="h6">Milo and Max 6</p>

*/

.h0 {
  font-size: var(--h0);
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.h5 {
  font-size: var(--h5);
}

.h6 {
  font-size: var(--h6);
}

.small {
  font-size: var(--small);
}

.line-height-1 {
  line-height: var(--line-height-1);
}

.line-height-2 {
  line-height: var(--line-height-2);
}

.line-height-3 {
  line-height: var(--line-height-3);
}

.line-height-4 {
  line-height: var(--line-height-4);
}

.line-height-5 {
  line-height: var(--line-height-5);
}

.line-height-6 {
  line-height: var(--line-height-6);
}

p {
  font-size: var(--h4);
  line-height: var(--line-height-3);
}

/* Mobile typescale */
@media (max-width: 47.999rem) {
  .mobile-h1 {
    font-size: var(--mobile-h1);
  }

  .mobile-h2 {
    font-size: var(--mobile-h2);
  }

  .mobile-h3 {
    font-size: var(--mobile-h3);
  }

  .mobile-h4 {
    font-size: var(--mobile-h4);
  }

  .mobile-h5 {
    font-size: var(--mobile-h5);
  }

  .mobile-h6 {
    font-size: var(--mobile-h6);
  }

  .mobile-small {
    font-size: var(--mobile-small);
  }
}
